.nav {
  background-color: #81D4FA;
}

.titleM {
  flex-direction: row;
}

.icon {
  resize-mode: stretch;
  width: 30;
  height: 30;
}

.menu {
  background-color: #FFFFFF;
  align-items: center;
}

.menu list {
  align-self: center;
  align-items: center;
}

.settingsImage {
  align-self: flex-start;
  resize-mode: stretch;
  width: 25;
  height: 25;
}

.title {
  padding-top: 8;
  font-size: 8;
}

.hamButton {
  padding-left: 10;
  resize-mode: stretch;
  width: 30;
  height: 30;
}

.leftNavButtonText {

}

.rightNavButtonText {
}

.blur {

}

.bgImage {
  flex: 1;
}

.container {
  padding-top: 70;
}

.seperator {
  flex: 1;
  height: 1;
  background-color: #FFFFFF;
}

.greyseperator  {
  flex-direction: row;
  flex: 1;
  height: 1;
  background-color: #000000;
}

.normalNews {
  padding: 15;
  background-color: transparent;
}

.normalNews left {
  font-size: 20;
}

.normalNews right {
  font-size: 20;
}
